In [13]:
def fact(num):
    if num == 1: 
        return 1
    else:
        return(num*fact(num-1))

In [14]:
fact(3)

6

In [3]:
a = "Hello"
b = "world"
print(a," ",b)
print(a+" hi "+b)

Hello   world
Hello hi world

In [9]:
a = {1:"first name", 2:"last name", "age":33}

In [10]:
print(a[1])

first name

In [13]:
print(a["age"])

33

In [15]:
a["age"] = 44
print(a["age"])

44

In [11]:
n = int(input("please enter a number"))
total = 0
i = 1
while i<=n:
    print("The current total is : {}".format(total))
    total = total + i
    print("THe total after adding {} is : {}".format(i,total))
    i = i + 1
    if total > 60:
        break

please enter a number 3

The current total is : 0
THe total after adding 1 is : 1
The current total is : 1
THe total after adding 2 is : 3
The current total is : 3
THe total after adding 3 is : 6

In [10]:
def greet(name , msg = "Hi deep, How are you doing?"):
    print("HEllo "+name+","+msg)
greet("bob","gm")
greet("bob")
greet(name = "james",msg = "good afternoon")
greet(msg ="good afternoon",name = "james")

HEllo bob,gm
HEllo bob,Hi deep, How are you doing?
HEllo james,good afternoon
HEllo james,good afternoon

In [15]:
# lambda , map , filter , reduce
ans = lambda x:x*2
ans(2)

4

In [16]:
list_1 = [1,2,3,4]
list_2 = list(map(lambda x:x*2,list_1))
list_2

[2, 4, 6, 8]

In [24]:
list_1 = [1,2,3,4]
list_2 = list(filter(lambda x: (x%2 == 0),list_1))
list_2

[2, 4]

In [27]:
from functools import reduce
red = reduce(lambda a,b: a*b,list_1)
red

24

In [22]:
import functools
list = [1,2,3,4,5]
functools.reduce(lambda a,b:a*b,list)

120

In [8]:
string = input("Enter the string")
freq = {}

for i in string:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
print(f"count of all characters in the given string is:\n {freq}")

Enter the string hi hi

count of all characters in the given string is:
 {'h': 2, 'i': 2, ' ': 1}

In [7]:
num = int(input("Enter the number :"))
count = 0
if num > 1:
    for i in range(2,int(num/2)+1):
        if (num%i == 0):
            count += 1
    if (count>0):
        print(f"{num} is not prime")
    else:
        print(f"{num} is prime")
else:
    print("Not a prime number")

Enter the number : 7

7 is prime

In [11]:
def isPalindrome(str):
    str = str.lower()
    st_len = len(str)
    for i in range(0, int(st_len/2)):
        if str[i] != str[st_len-i-1]:
            return False
    return True
s = input("Enter the string")
ans = isPalindrome(s)
if(ans):
    print(f"{s} is a palindrome")
else:
    print(f"{s} is not a palindrome")

Enter the string ttatt

ttatt is a palindrome

In [12]:
for letter in 'python':
    if letter == 'h':
        break
    print('Current letter:',letter)

Current letter: p
Current letter: y
Current letter: t

In [13]:
for letter in 'python':
    if letter == 'h':
        continue
    print('Current letter:',letter)

Current letter: p
Current letter: y
Current letter: t
Current letter: o
Current letter: n

In [16]:
n = int(input('enter number'))
flag = 0
for i in str(n):
    if int(i)%2 != 0:
        flag = 1
        break
    else:
        continue
if(flag ==1):
    print('entered number has didgits that are not even')

else:
    print('entered number has didgits that are even')

enter number 12

entered number has didgits that are not even

In [21]:
def generator():
    for i in range(6):
        yield i*i
g = generator()
next(g)
next(g)
next(g)

4

In [29]:
a = 4
assert a>5

AssertionError:

In [31]:
ans = sorted(range(-5,6),key=lambda x:x**2)
ans

[0, -1, 1, -2, 2, -3, 3, -4, 4, -5, 5]

In [37]:
string1 = "India is my India country. I love india"
SubString = "India"
res = string1.count(SubString)
res

2

In [38]:
string1 = "India is my India country. I love india"
SubString = "India"
str_conv = string1.lower()
res = str_conv.count(SubString.lower())
res

3

In [44]:
string1 = "My name is alexa"
count = 0
vowels = set("aeiouAEIOU")
for i in string1:
    for i in vowels:
        count +=1
count

160

In [2]:
string = "Hello Hey World"
my_dict = {}
for i in string:
    if i in my_dict:
        my_dict[i] +=1
    else:
        my_dict[i] = 1
my_dict

{'H': 2, 'e': 2, 'l': 3, 'o': 2, ' ': 2, 'y': 1, 'W': 1, 'r': 1, 'd': 1}

In [4]:
s1 = "listen"
s2 = "silent"

s1_lst = list(s1)
s2_lst = list(s2)

X = s1_lst.sort()
Y = s2_lst.sort()

if X == Y:
    print ("yes")
else:
    print ("No")

yes

In [7]:
st = "malayalam"
st2 = st[::-1]
if st == st2:
    print (1)
else:
    print (0)

1

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

author = ['abc','xyz','qwe']
article = [120,324,221]

auth_series = pd.Series(author)
article_series = pd.Series(article)

frame = {'Author': auth_series, 'Article': article_series}#dict to map both series
result = pd.DataFrame(frame)
result

age = [21,33,42]
result['Age'] = pd.Series(age)
result

  Author  Article  Age
0    abc      120   21
1    xyz      324   33
2    qwe      221   42

In [ ]:
df_melted=pd.melt(df,id_vars)
#melt will reduce the size of what data looks like
df_stacked = df_measurements.stack().to_frame()
df_stacked[:6]
#if df has multiple level index stack decreases index
df.add
df.drop
df.insert
df.append
#revise this again

In [ ]:
# pivot table used to look at the data in a different perspective
# used to explore relationships among variables by allowing them present data in diff formats

df.pivot_table(index='cat',columns='city',aggfunc='mean')

In [ ]:
#loc is label based data selecting method pass row/col which needs to be selected
#accepts boolean data unleke iloc
data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)]

# iloc is index based selecting
data.iloc[[0,2,4,7]]
data.iloc[1:5,2:5]

In [5]:
# user defined func
def strrev(a):
    b=a[::-1]
    print(b)
strrev("Hello")

olleH